<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome
    <%= userName %>
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/my-account" class="btn btn-secondary">My Account</a>