.booth {
    width: 620px;
    border: 10px solid black;
    background-position: center;
    background-image: url("../stickers/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

.this-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.this-container > img {
    border: 3px solid black;
    text-align: center;
    width: 100%;
    color: cadetblue;
    border-radius: 4px;
    background: blue;
}