<!-- Gallery for guests -->
<%- include('../includes/head.ejs') %>
<title>Gallery | Camagru</title>
</head>
<body>

<h1 class="mt-4">Camagru Gallery</h1>
<%- include('../includes/navbar.ejs') %>


<%- include('../includes/end.ejs') %>